# fly.toml app configuration file generated for investment-register on 2026-02-06T14:09:35-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'investment-register'
primary_region = 'sjc'

[build]

[http_service]
  internal_port = 8501
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
